body {
    background: url(images/economic_benefits.png) no-repeat fixed;
    background-size: cover;
}
.card {
    background-color: antiquewhite;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    padding: 20px;
    margin: 10px;
    height: 110px;
}

.card h3 {
    color: #43120b;
}
h1 {
    text-align: center;
    font-size: 50px;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 8px bisque;
}
.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5); 
}
/* Responsive Design */
@media (max-width: 768px) {
    .card {
        height: 200px;
    }
}
@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
.row {
    animation: zoomIn 1s ease-out forwards;
}